* {
  padding: 0;
}

#container {
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 650px;
}

#main {
  background-image: linear-gradient(#0B5D83, #0C3962);
  height: 100vh;
  margin: 0;
  padding: 0;
}

#main #left {
  width: 500px;
}

.bi {
  color: white;
}

.border-circle {
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  border: 2px solid white;
  border-radius: 50%;
}

#main span {
  height: fit-content;
  width: fit-content;
}

.bi-list {
  font-size: 11px;
  line-height: 19px;
  padding: 2px;
  height: 23px;
  width: 23px;
  text-align: center;
}

.bi-x {
  box-shadow: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  line-height: 24px;
  padding: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

#left-bottom {
  margin: 0;
}

.icon_btmlft {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.icon_btmlft1 {
  float: left;
  margin-top: -4px;
  margin-right: 5px;
}

.icon_btmlft1 img {
  background-color: #466585;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  padding: 5px;
  line-height: 14px;
  border-radius: 50%;
  height: 35px;
  border: 2px solid #40adb3;
}

.button_Sec {
  min-width: 110px;
  max-width: 150px !important;
}

.button_Sec .fa,
.button_Sec .fa-solid,
.button_Sec .fa-brands {
  background-color: #466585;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  border-radius: 50%;
  border: 2px solid #40adb3;
  color: white;
  height: 26px;
  margin: auto;
  line-height: 14px;
  padding: 4px;
  width: 26px;
}

.fa-user-group {
  font-size: 11px;
}

i:hover {
  background-color: #1D7275;
}

.fa-hand {
  font-size: 14px;
}

.fa-shirt {
  font-size: 12px;
}

.fa-envelope {
  font-size: 14px;
}

.fa-crow {
  font-size: 12px;
}

.fa-solid.fa-cart-arrow-down {
  background-color: #866f9b;
  border-radius: 32px;
  border: 2px solid #ccb9f0;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  color: white;
  font-size: 20px;
  height: 34px;
  line-height: 30px;
  padding-left: 3px;
  width: 34px;
}

.bi.bi-nut-fill {
  background-color: #544e7c;
  border-radius: 50%;
  border: 2px solid #a2a9dd;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  color: white;
  font-size: 22px;
  height: 34px;
  line-height: 25px;
  padding: 0 3px;
  text-align: center;
  width: 34px;
}

.coins-sec {
  background-color: #0A3048;
  border: 0;
  border-radius: 50vh;
  color: white;
  font-size: 10px;
  margin: 0px;
  padding: 2px;
}

.coins-sec li {
  list-style-type: none;
}

.coin-item img {
  height: 15px;
}

#main-img {
  width: 100%;
  height: auto;
  margin: auto;
}

#main-img img {
  padding: 0px;
}

#center-bottom {
  margin: 0;
  padding: 10px 7px;
  width: 100%;
}

#chatbox {
  background-color: #8393CA;
  border-radius: 7px;
  height: 33px;
  padding: 0;
  width: 100%;
}

#chatbox #textbox {
  background-color: white;
  padding: 3px 5px;
  width: 110%;
}

#chatbox #icon_sec {
  padding: 2px 0;
  width: 70px;
  position: relative;
  left: 5px;
  z-index: 1;
}

#icon_sec #first {
  padding: 0 5px 0 0;
}

.fa.fa-question {
  color: white;
  background-color: #cc0d50;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  height: 34px;
  width: 34px;
  line-height: 30px;
  border-radius: 32px;
  border: 2px solid #f4849c;
  font-size: 22px;
  text-align: center;
}

.fa-solid.fa-right-from-bracket {
  color: white;
  background-color: #cc0d50;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  height: 34px;
  width: 34px;
  line-height: 25px;
  border-radius: 32px;
  border: 2px solid #f4849c;
  font-size: 22px;
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .icon_shping {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 810px) {
  #main {
    margin: 0 !important;
  }

  #main #center {
    width: 36.6% !important;
  }

  #main #right {
    width: 30% !important;
  }

  #main #left {
    width: 33.3% !important;
  }
}

@media only screen and (min-width: 1200px) {
  #main {
    margin: 0 10% !important;
  }
}

.overlay {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  border-top-right-radius: 7px;
  color: white;
  font-size: 9px;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 2;
}

.overlay-title {
  border-bottom: 1px solid #818181;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
}

.overlay-content {
  padding: 15px 5px;
  width: 100%;
  height: 92%;
  text-align: left;
  margin: 0px;
  overflow-y: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-line {
  font-size: 12px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.chat-user {
  color: #0B5D83;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 12px
  }

  .overlay .closebtn {
    font-size: 25px;
    top: 5px;
    right: 5px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 12px
  }

  .overlay .closebtn {
    font-size: 25px;
    top: 5px;
    right: 5px;
  }
}
#gary-content hr {
  height: 1px;
  margin: 0 auto;
  width: 80%;
  align-items: center;
}

#owner {
  /* height: 20%; */
  color: #7892AD;
}

#owner-name {
  font-size: 10px;
  font-weight: bold;
}

#owner img {
  position: relative;
  top: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#info {
  /* height: 50%; */
  margin-top: 5px;
}

.info-item {
  padding-left: 5px;
}

.info-title {
  font-size: 10px;
  font-weight: bold;
}

#rarity p .fa-solid {
  background-color: #886E9E;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  border-radius: 50%;
  border: 2px solid #AE99C2;
  color: #F7F6F8;
  font-size: 16px;
  height: 22px;
  padding-left: 4px;
  margin: auto;
  line-height: 18px;
  width: 22px;
}

.rarity-text {
  position: relative;
  top: -5px;
  padding-left: 5px;
}

.level-main {
  font-size: 12px;
}

.level-text {
  padding-left: 5px;
}

.skill-icon {
  color: #0B5D83;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  width: 14px;
}

.progress {
  background-color: #232D34;
  height: 6px;
  margin-left: 10px;
  padding: 0;
  position: relative;
  top: 2px;
  width: 80px;
}

.progress-bar {
  background-color: #267779;
  border: 2px solid#40adb3;
  border-radius: 4px;
}

.info-item .fa-solid,
.info-item .fas,
.info-item .bi {
  background-color: #4C7196;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  border-radius: 50%;
  border: 2px solid #4C7196;
  color: black;
  font-size: 10px;
  height: 14px;
  margin: auto;
  line-height: 10px;
  padding: 0;
  width: 14px;
}

.xp-circle {
  background: black;
  border: 2px solid #4C7196;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgb(0 0 0 / 45%), inset 0 0 0 2px hsl(0deg 0% 100% / 10%);
  color: #4C7196;
  font-size: 8px;
  font-weight: bold;
  height: 14px;
  line-height: 8px;
  padding: 0;
  width: 14px;
}

.fa-bolt-lightning,
.fa-arrow-up-right {
  background: black !important;
  color: #4C7196 !important;
  font-size: 8px !important;
  position: relative;
  padding-left: 3px !important;
}

.fa-arrow-circle-right {
  transform: rotate(-45deg);
}

.fa-circle {
  background-color: black !important;
  border: 2px solid white !important;
  color: white !important;
  font-size: 11px !important;
  height: 19px !important;
  padding: 3px 2px 2px 2px !important;
  width: 19px !important;
}

#options p .fa-solid,
#options p .fas {
  background-color: #252F35;
  color: white;
  font-size: 14px;
  height: 24px;
  padding: 5px 2px 2px 3px;
  width: 24px;
  margin-right: 10px;
}